.sponsor-card { display: inline-block; padding: 4px; }
.partner_ship_custom_img { height: 70px; margin: 3px 0; border-radius: 3px; transition: all 0.2s ease-in-out; filter: grayscale(0.5); &:hover { transform: scale(1.05); filter: grayscale(0); } }
